<app-app-modal *ngIf="modal.showModal" [selectedMovieId]="selectedMovieId"
  (closeModalEvent)="closeModal()"></app-app-modal>
<app-nav-bar *ngIf="navBar"></app-nav-bar>
<div class="container-fluid p-0">
  <div class="content" *ngFor="let movie of upcoming; let index = index">
    <div *ngIf="index < 1; ">
      <div class=" body-video container-fluid p-0 bg-dark" style="border: hidden;">
        <img src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" alt="" style="width: 100%; ">
      </div>
      <div class="bottom"></div>
      <div class="text">
        <div class="testo_hero ms-5" style="margin-bottom: 160px;">
          <div class="d-flex align-items-center gap-4">
            <div>
              <img src="../../../assets/media/PngItem_1041504.png" alt="" class="logo" style="width: 3em">
            </div>
            <div>
              <p style="font-size: 3em;">serie</p>
            </div>
          </div>
          <h1 class="w-100">{{movie.title}}</h1>
          <div class="d-flex align-items-center mb-4 gap-3">
            <div>
              <img src="https://www.netflix.com/tudum/top10/images/top10.png" alt="" class="logo" style="width: 3em">
            </div>
            <div>
              <p>Top 1 Attualmente in Italia</p>
            </div>
          </div>
          <p class="descrizione mb-4">{{movie.overview}}</p>
          <div>
            <div class="d-flex gap-3 bottoni align-items-center">
              <button class="btn btn-light"> <i class="bi bi-play-fill me-2"></i>Riproduci</button>
              <button class="btn btn-outline-secondary bg-secondary text-light gap-3" (click)="openModal(movie.id)"><i
                  class="bi bi-info-circle me-2"></i>Altre
                info</button>
            </div>
          </div>
        </div>
        <div class="cards-e-caroselli container-fluid">
          <div class="contenuto-films d-flex flex-column" id="contenuto-films">
            <div class="row justify-content-center" style=" margin-bottom: 50px;">
              <h2 class="row_title text-white my-3" style="width: 96%;">Top Rated</h2>
              <ngx-slick-carousel class="row_posters" class="carousel" #slickModal="slick-carousel"
                [config]="slideConfig" style=" height: fit-content; width:97%; overflow: visible; ">
                <div class="wrap" ngxSlickItem *ngFor="let movie of upcoming">
                  <div style="position: absolute; margin:10px;">
                    <img src="../../../assets/media/PngItem_1041504.png" alt="" class="logo-cards">
                  </div>
                  <img src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="movieImage" class="row_poster"
                    (click)="openModal(movie.id)" />
                  <h5 class="poster_title">{{movie.title}}</h5>
                  <div class="poster_info text-white" (click)="openModal(movie.id)">
                    <div style="position: absolute; bottom: 0;">
                      <img src="../../../assets/media/PngItem_1041504.png" alt="" class="logo-cards">
                      <h4>{{movie.title}}</h4>
                    </div>
                  </div>
                  <div class="contenuto_card_interaction w-100 ">
                    <div class="d-flex justify-content-between justify-content-center">
                      <div class="d-flex ms-2">
                        <div>
                          <button class="btn text-secondary p-2" style="font-size:2em;"><i
                              class="bi bi-play-circle-fill"></i></button>
                        </div>
                        <div>
                          <button class="btn text-secondary p-2 " style="font-size:2em;"
                            (click)="Preferito(movie)" [class.preferito]="isPreferito(movie)"><i
                              class="bi bi-heart-fill"></i></button>
                        </div>
                      </div>
                      <div>
                        <button class="btn text-secondary p-2" style="font-size: 2em;"
                        (click)="openModal(movie.id)"><i class="bi bi-chevron-compact-down rounded-5"></i></button>
                      </div>
                    </div>
                    <div class="matched ms-4 mt-2 mb-1">
                      <span style="color:#4CAF50 ;">96% Match</span>&nbsp;
                      <span> 2020 </span>&nbsp;
                      <span class="limited">Limited Series</span>
                      <p class="w-75 mt-3 descrizione-modal">Language {{movie.original_language}} • voto {{movie.vote_average}}</p>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
            <div class="row justify-content-center p-0">
              <div class="card-box-container d-flex flex-wrap gap-3 justify-content-center p-0"
                style=" margin-bottom: 50px;">
                <h2 class="text-white row_title" style="width: 95%; margin-top:50px; margin-bottom: 0;">Top 10 in italia
                </h2>
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                  style="width:97%;">
                  <div ngxSlickItem *ngFor="let movie of now_playing; let i = index" class="slide"
                    (click)="openModal(movie.id)">
                    <div *ngIf="i <= 9">
                      <div class="d-flex align-items-baseline top-cards w-50">
                        <div>
                          <p id="number">{{i+1}}</p>
                        </div>
                        <div>
                          <img class="cover p-0 m0" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}"
                            style="width:150px; height: fit-content;">
                        </div>
                      </div>
                    </div>
                  </div>
                </ngx-slick-carousel>
              </div>
            </div>
            <div class="row justify-content-center" style=" margin-bottom: 50px;">
              <h2 class="row_title text-white my-3" style="width: 96%;margin-top:100px;margin-bottom: 100px;">Piu Visti
              </h2>
              <ngx-slick-carousel class="row_posters" class="carousel" #slickModal="slick-carousel"
                [config]="slideConfig" style=" height: 200px; width:97%;  ">
                <div class="wrap" ngxSlickItem *ngFor="let movie of now_playing">
                  <div style="position: absolute; margin:10px;">
                    <img src="../../../assets/media/PngItem_1041504.png" alt="" class="logo-cards">
                  </div>
                  <img src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="movieImage" class="row_poster"
                    (click)="openModal(movie.id)" />
                  <h5 class="poster_title">{{movie.title}}</h5>
                  <div class="poster_info text-white" (click)="openModal(movie.id)">
                    <div style="position: absolute; bottom: 0;">
                      <img src="../../../assets/media/PngItem_1041504.png" alt="" class="logo-cards">
                      <h4>{{movie.title}}</h4>
                    </div>

                  </div>
                  <div>
                    <button class="btn text-secondary p-2 me-2" style="font-size: 1.5em;" (click)="Preferito(movie)"
                      [class.preferito]="isPreferito(movie)"><i class="bi bi-heart-fill"></i></button>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
            <div class="row justify-content-center" style=" margin-bottom: 50px;">
              <h2 class="row_title text-white my-3" style="width: 96%;margin-top:100px;">Popolari</h2>
              <ngx-slick-carousel class="row_posters" class="carousel" #slickModal="slick-carousel"
                [config]="slideConfig" style=" height: 200px; width:97%;  ">
                <div class="wrap" ngxSlickItem *ngFor="let movie of popular">
                  <div style="position: absolute; margin:10px;">
                    <img src="../../../assets/media/PngItem_1041504.png" alt="" class="logo-cards">
                  </div>
                  <img src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="movieImage" class="row_poster"
                    (click)="openModal(movie.id)" />
                  <h5 class="poster_title">{{movie.title}}</h5>
                  <div class="poster_info text-white" (click)="openModal(movie.id)">
                    <div style="position: absolute; bottom: 0;">
                      <img src="../../../assets/media/PngItem_1041504.png" alt="" class="logo-cards">
                      <h4>{{movie.title}}</h4>
                    </div>

                  </div>
                  <div>
                    <button class="btn text-secondary p-2 me-2" style="font-size: 1.5em;" (click)="Preferito(movie)"
                      [class.preferito]="isPreferito(movie)"><i class="bi bi-heart-fill"></i></button>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--cards e caroselli-->

  <!--(click)="getLiked(movie.id, user.user.id)" [class.favouriteMovie]="favouriteCount(movie.id)"  da inserire nel cuore quando si mette like al film -->
