.the_arrow_left{
    width: 40px;
    height: 40px;
    color: #dbd8e3;
    background-color: #fefefe;
    border-radius: 25px;
    position: absolute;
    bottom: 40%;
    right: 101%;
    z-index: 1;
    &:hover{
        transition: all;
        transition-duration: 0.1s;
        transform: scale(1.2);
        color:$HeroBg;
        cursor:pointer;
        -webkit-box-shadow: inset 12px -10px 36px -2px #ffffff,
        10px 11px 10px 0px #949494;
      -moz-box-shadow: inset 0px -14px 36px -2px #ffffff, 10px 11px 10px 0px #000000;
      -o-box-shadow: inset 0px -14px 36px -2px #ffffff, 10px 11px 10px 0px #000000;
      box-shadow: inset 0px -14px 36px -2px #ffffff, 10px 11px 45px 0px #313131;
    }

}

.the_arrow_right{
    width: 40px;
    height: 40px;
    color: #dbd8e3;
    background-color: #fffbfbed;
    border-radius: 25px;
    position: absolute;
    bottom: 40%;
    left: 101%;
    z-index: 1;
    &:hover{
        transition: all;
        transition-duration: 0.1s;
        transform: scale(1.2);
        color:$HeroBg;
        cursor:pointer;
        -webkit-box-shadow: inset 12px -10px 36px -2px #ffffff,
        10px 11px 10px 0px #949494;
      -moz-box-shadow: inset 0px -14px 36px -2px #ffffff, 10px 11px 10px 0px #000000;
      -o-box-shadow: inset 0px -14px 36px -2px #ffffff, 10px 11px 10px 0px #000000;
      box-shadow: inset 0px -14px 36px -2px #ffffff, 10px 11px 45px 0px #313131;
    }
}

@media (max-width: 480px) {
    
.card_container {
    position: relative;

    .card {
        h6 {
            font-size: 0.8rem;
            margin-bottom: 15px;
        } 

        p{
            font-size: 0.8rem;
        }
    }

    .the_arrow_left{
        width: 40px;
        height: 40px;
        color: #dbd8e3;
        background-color: #fefefe;
        border-radius: 25px;
        position: absolute;
        bottom: 40%;
        right: 95%;
        z-index: 1;
    }

    .the_chevron_arrow_right{
        width: 40px;
        height: 40px;
        color: #dbd8e3;
        background-color: #fefefe;
        border-radius: 25px;
        position: absolute;
        bottom: 40%;
        left: 95%;
        z-index: 1;
    }
}

.card_column {
    width: 25%;
}
}
.card:hover{
    
        transition: all;
        transition-duration: 0.5s;
        transform: scale(1.02);
        cursor:pointer;
        z-index: 1;
        -webkit-box-shadow: inset 12px -10px 36px -2px #ffffff,
        10px 11px 10px 0px #949494;
      -moz-box-shadow: inset 0px -14px 36px -2px #ffffff, 10px 11px 10px 0px #000000;
      -o-box-shadow: inset 0px -14px 36px -2px #ffffff, 10px 11px 10px 0px #000000;
      box-shadow: inset 0px -14px 36px -2px #ffffff, 10px 11px 10px 0px #313131;
    
}