.bi-bar-chart-fill{
    color: $HeroBg;
}
.stars_fill{
    color: $StarsValue;
    i{
        color: $StarsValue;
    }
    p{
        color: $StarsValue;
    }
}
.card-body {
   h6{
    font-weight: 500;
   }
}
.price_course{
    font-weight: 700;
}
