<div id="overlay" (click)="closeModal()"></div>
<div id="container">
  <div class="content">
    <div class="modal-content">
      <i class="bi bi-x-lg btn-close d-flex align-items-stretch" (click)="closeModal()"></i>
      <div>
        <div class="modal-body p-0 bg-dark" style="border: hidden;">
          <img src="https://image.tmdb.org/t/p/original/{{movieDetails.backdrop_path}}" alt="" id="modal_img"
            style="border: hidden;" />
        </div>
        <div class="text">
          <div class="d-flex align-items-center gap-4">
            <div>
              <img src="../../../assets/media/PngItem_1041504.png" alt="" class="logo">
            </div>
            <div>
              <p>serie</p>
            </div>
          </div>

          <h2 class="w-100">{{movieDetails.title}}</h2>
          <div>
            <div class="d-flex gap-3 bottoni align-items-center">
              <button class="btn btn-light"> <i class="bi bi-play-fill me-2"></i>Riproduci</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer p-0 mt-2" style="border: hidden;">
        <div class="description w-100 p-0">
          <div class="d-flex  justify-content-between">
            <div class="matched ms-4 mt-2 mb-1">
              <span style="color:#4CAF50 ;">96% Match</span>&nbsp;
              <span> 2020 </span>&nbsp;
              <span class="limited">Limited Series</span>
              <p class="w-75 mt-3 descrizione-modal">{{movieDetails.overview}}</p>
            </div>
            <div class="generi w-50 text-end me-3">
              <p class="text-secondary">Genres: <span class="text-light">Crime TV Shows, true Crime
                  Documentaries, Docuseries</span> </p>
              <p class="text-secondary">This Show is: <span class="text-light">Provocatory, Aggressive,
                  Funny</span> </p>
            </div>
          </div>
          <hr style="color:#fff;" class="mx-3">
          <h3 class="text-white ms-4 mb-3">Articoli Simili</h3>
          <div class="film-suggested">
            <div class="card-box-container d-flex flex-wrap justify-content-center gap-3 ms-4">
              <div *ngFor="let films of popular">
                <div class="card" style="width: 19rem; border:hidden;">
                  <div style="position: absolute; margin:10px;">
                    <img src="../../../assets/media/PngItem_1041504.png" alt="" class="logo">
                  </div>
                  <img src="http://image.tmdb.org/t/p/w500{{films.backdrop_path}}" class="card-img-fluid" alt="...">
                  <div class="card-body">

                    <div class="text-end d-flex align-items-center justify-content-between">
                      <div class="d-flex gap-2 ">
                        <div>
                         <span class="age">16+</span>
                      </div>
                      <div>
                        <span>{{films.release_date}}</span>
                      </div>
                      </div>
                      <div>
                        <i class="bi bi-plus-circle"></i>
                      </div>
                    </div>
                    <div>
                     <div>
                      <p class="card-text p-0" id="trance">{{films.overview}}</p>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
