body,
html {
    overflow: visible;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, 'Segoe UI', Roboto, sans-serif;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none;
}



.iframe {
    width: 100%;
    height: 1000px;
    object-fit: contain;
    transform: scale(1);
    overflow: hidden !important;
    z-index: -10;
    margin: 0;
    pointer-events: unset !important;
}

//text on the hero banner
.text {
    color: #fff;
    z-index: 10;
    width: 70%;
    height: 65%;
    top: 300px;
    margin: 0 auto;
    position: absolute;
    left: 60px;


    h1 {
        font-size: 10em;
    }

    p {
        font-size: 1.5em;
        font-family:sans-serif;
        font-weight:400;
        line-height: 0.85;
        line-break: strict;
        letter-spacing: 2px;
    }
}

.logo {
    width: 2.5rem;
}

.btn-light {
    width: 360px;

    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-outline-secondary {
    width: 360px;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.footer {
    border: hidden;
    position: absolute;
    bottom: 100;
    top: 100;
    z-index: 1;
    width: 100%;
    height: 100vh;
    -webkit-box-shadow: inset 0px 0px 10px 0px #141414,0px -7px 27px 73px #141414;
    -moz-box-shadow: inset 0px 0px 10px 0px #141414,0px -7px 27px 73px #141414;
    -o-box-shadow: inset 0px 0px 10px 0px #141414,0px -7px 27px 73px #141414;
    box-shadow: inset 0px 0px 10px 0px #141414,0px -7px 27px 73px #141414;
}

//top 10 start
#top {
    width: 3em;
    height: 3em;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 3px 28px 13px #1d1d1ddc, 5px 1px 21px 3px #000000;
    -moz-box-shadow: inset 0px 3px 28px 13px #1d1d1ddc, 5px 1px 21px 3px #000000;
    -o-box-shadow: inset 0px 3px 28px 13px #1d1d1ddc, 5px 1px 21px 3px #000000;
    box-shadow: inset 0px 3px 28px 13px #1d1d1ddc, 5px 1px 21px 3px #000000;
}

.home_page {
    position: absolute;
    top: 450px;

}

.top-cards {
    font-size: 10em;
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: -35px;
}

.square {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 100ms ease-out, border-radius 200ms ease-out;
}

.square .cover {
    width: 14em;
    height: 320px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.square .text {
    display: none;
    background: #181818;
    color: #fff;
    width: 100%;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.square:hover {
    border-radius: 10px;
    transform: scale(1.2);
    box-shadow: 0 0 2px #000a;
    max-width: fit-content;
}

.square:hover .text {
    display: block;
}

//top 10 end

#search {
    color: white;
    width: 3em;
}


.nav-link {
    font-family: serif;
    font-weight: 600;
    cursor: pointer !important;
}

.navbar-nav {
    cursor: pointer;
}

a {
    cursor: pointer;
}

//descrizione film e bottoni start

.description {
    width: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1.5em;
}

.btn-light {
    width: 160px;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-outline-secondary {
    width: 160px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

//descrizione film e bottoni end


.favouriteMovie {
    color: red;
    background-color: red;
}

//modal
.modal .show{
    display: block;
    height: 100vw;
}
#staticBackdrop{
    width: 100%;
}
.text {
    color: #fff;
    z-index: 10;
    margin: 0 auto;
    position: absolute;
    top: 410px;
    left: 40px;


    h1 {
        font-size: 5em;
    }

    p {
        font-size: 0.6;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        line-height: 1.2;
        line-break: strict;
        letter-spacing: 2px;
    }
}

.logo {
    width: 1.5rem;
}
.btn-light {
    width: 150px;

    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-outline-secondary {
    width: 150px;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
#modal_img{
    width: 100%;
    object-fit: cover;
    padding: 0;
    z-index: -1;
}
.modal-footer{
    border: hidden;
    background: #141414;
    width: 100%;
}
.bottom{
    position:absolute;
    bottom: 15%;
    margin-bottom: 5px;
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, transparent, #141414);
}
.btn-close{
    font-size: 1.2em;
    background: #000000;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 10px;

}
.modal-content {
    background-color:  #141414;
}
.bi-x-lg{
    color: #fff;
    font-size: 1.5em;

}
.btn-close:hover{
    color: #fff;
}
.matched{
    font-family: 'Nunito Sans', sans-serif;
    span{
        color: #fff;
        font-size: 1.2em;
    }
    .limited{
            font-family:cursive ;
        }

}
.generi{
    font-weight: 600;

}
.descrizione-modal{
    font-weight: 400;
    color: #fff;
    font-size: 1.2em;
}
.card-img-fluid{
    border: hidden;
    object-fit: cover;
}
.card{
    background-color:#383737 ;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;

    .bi-plus-circle{
        font-size: 2em;
    }
}
.film-suggested{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;

    .card-box-container{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
    }

}

.card-body {
   p{
    white-space: wrap;
    overflow-x: hidden;
    display: inline-block;
    max-inline-size: 300px;
    height: 100px;
    text-overflow: ellipsis;
   }
    }

//modal end

//cose varie


  body {
    font-family: "Poppins", sans-serif;
    color: #eeeeee;
    background-color: #0f0f0f;
  }

  .row_title {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .row_posters {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    min-height: 250px;
    transition: 500ms;
    scroll-behavior:smooth;
  }

  .row_posters::-webkit-scrollbar {
    display: none;
  }

  .row_poster {
    object-fit: contain;
    height: 100%;
  }

  .wrap {
    display: inline-block;
    position: relative;
    height:16em;
    padding: 22px;
    width: fit-content;
    margin-bottom: 20px;
    cursor: pointer;
    transition: height 500ms;
  }

  .wrap:hover {
    height: 20em;
    z-index: 10000;
  }

  .poster_title {
    font-family: "Cinzel", serif;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 15px;
    color: #f0f0f0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 2000ms 1000ms;
  }
  .wrap:hover .poster_title {
    opacity: 0;
    transition: opacity 100ms;
  }

  .poster_info {
    position: absolute;
    left: 5px;
    padding-left: 30px;
    padding-top: 20px;
    bottom: 50px;
    font-weight: 300;
    font-size: 0.75rem;
    width: 250px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 100ms;
  }
  .wrap:hover .poster_info {
    opacity: 1;
    transition: opacity 2000ms;
  }
  .poster_info p {
    padding-top: 5px;
  }

#trance{
    white-space: wrap;
    overflow-x: hidden;
    display: inline-block;
    max-inline-size: 100px;
    height: 2em;
    text-overflow: ellipsis;
}

