@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;
    src: url('railway.woff2') format(.woff2) url('railway.woff') format(woff) url('railway.ttf') format('truetype');
}

body {
    ;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, purple, rgb(245, 118, 139));
    ;
}

header {
    text-align: center;
}

#titolo {
    text-align: center;
    background-color: white;
    background-size: 50px;
    color: hwb(132 13% 77%);
    font-weight: bold;
    font-size: x-large;
}

#container {
    padding-right: 30vw;
    padding-left: 30vw;
}
.intestazione > p{
    color:hwb(132 13% 77%);
    text-align: left;
    font-size: x-large;
}
h1 {
    color: hwb(132 13% 77%);
    font-size: xx-large;
}

h2 {
    text-align: center;
    color: rgb(19, 79, 29);
    background-color: whitesmoke;
    background-size: 30px;
}

h3 {
    color: rgb(132 13% 77%);
    text-align: left;
    font-weight: bolder;
    ;
}
#video{
    width: 300px 300px;
}
main {
    padding-top: 30px;
    size: 30px;
    text-align: center
}

p {
    color: black text-align: left;
    margin: 0;
}
span{
    text-align: left;
}
span p::before {
    text-align: left;
    content: '|';
}

a:link,
a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: underline;
    color: red;
}

#ingredients {
    text-align: left;
    color: black;
}
#section{
    text-align: left;
}
.footer{
    text-align: left;
}