<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-end d-flex justify-content-around align-content-center">
    <button class="btn btn-outline-primary" [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="router-link-active">👈 Back to home</button>
    <button class="btn btn-outline-primary me-2" type="button" [routerLink]="['primo']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="router-link-active">Go to the Completed 👉</button>
  </form>
</nav>
