/* You can add global styles to this file, and also import other style files */
body{
  background: rgb(238,174,202);
}
.table{
  -webkit-box-shadow: inset 0px 0px 11px -6px #FFFFFF,0px 2px 9px 2px #000000;
-moz-box-shadow: inset 0px 0px 11px -6px #FFFFFF,0px 2px 9px 2px #000000;
-o-box-shadow: inset 0px 0px 11px -6px #FFFFFF,0px 2px 9px 2px #000000;
box-shadow: inset 0px 0px 11px -6px #FFFFFF,0px 2px 9px 2px #000000;
}


